body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  align-items: center;
  background: rgb(98, 59, 36);
  color: rgb(255, 255, 255);
  display: flex;
  padding: 0;
}

.logo-title {
  font-family: Pirata One, sans-serif;
  font-size: 3rem;
}

#container-form-card {
  border: 3px solid rgb(88, 53, 32);
  display: flex;
}

.form-container {
  height: 60vw;
  padding: 10px;
  padding-top: 30px;
  width: 50%;
}

.card-container {
  align-items: center;
  background: rgb(228, 218, 160);
  height: 60vw;
  justify-content: center;
  padding: 110px;
  padding-top: 60px;
  text-align: center;
  width: 50%;
}

.logo-img {
  width: 80px;
  height: 50px;
}

.card-list {
  align-items: flex-start;
  background: rgb(228, 218, 160);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}

.title-list {
  color: rgb(58, 37, 25);
  font-family: Pirata One , sans-serif;
  font-size: 2.5rem;
  padding-left: 20px;;
  text-decoration: none;
}

.all-cards {
  display: inline-block;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
